html {
  font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 1.125rem; 
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Index page */

/* Header styling for navigation */
.main-header {
  background-color: rgb(46, 46, 46);
  padding: 10px;
  text-align: center;
}

.main-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-header nav ul li {
  display: inline;
}

.main-header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.main-header nav ul li a:hover {
  text-decoration: underline;
}

/* Dashboard CSS */
.dashboard {
  padding: 20px;
}

.dashboard h1 {
  text-align: left;
  padding-left: 15%;
  color: black;
  font-size: 1.5rem;
}

.parking-capacity-container h2 {
  margin: 0;
  text-align: left;
  color: black;
  position: relative;
  top: 0;
  padding-bottom: 5%; 
  padding-top: 5%;
  font-size: 1.3rem; 
}

.parking-capacity-container {
  position: absolute;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  width: 33%;
  height: 60%;
  padding: 20px;
  bottom: 10%;
  left: 25%;
  border: 0.75px solid black;
  border-radius: 1%;
}

.parking-capacity-chart {
  position: relative;
}

.capacity-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem; /* Responsive font size */
  color: black;
  font-weight: lighter;
}

.car-count-details {
  display: flex;             
  justify-content: space-around; 
  width: 100%;                
  text-align: center;           
}

.car-count-details h3 {
  margin: 5px 0;
  font-size: 1.2rem; 
  font-weight: bold;
  color: black;
}

#morningCars, #afternoonCars {
  font-size: 1.5rem;
  font-weight: lighter;
  color: black;
}

.morning-count, .afternoon-count {
  flex: 1;               
  padding: 10px;             
}

/* Dashboard sidebar */
.sidebar {
  width: 17%;
  height: 100%;
  background-color: rgb(31, 31, 31);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

/* Logo Section */
.logo-container {
  display: flex;            
  align-items: center;      
  justify-content: start;   
  padding: 10px 20px;        
  background-color: #A8E2D0;    
  border-radius: 100px;
  width: 90%;
  flex-shrink: 0;  
}

/* Logo styling */
.logo {
  width: 30%;               
  height: 100%;              
  margin-right: 15px;        
  border-radius: 10%;       
}

/* App name styling */
.app-name {
  font-size: 1rem; 
  font-weight: bold;       
  color: white;              
  font-family: 'Aptos', sans-serif;  
  text-transform: uppercase;
  font-style: normal;
}

/* Navigation Links */
.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding-top: 25%;
}

.nav-link {
  display: flex;       
  align-items: center;   
  padding: 15px 0;
  width: 100%;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding-left: 20px;     
  font-size: 1rem; 
}

.nav-link i {
  margin-right: 10px;    
  font-size: 2em; 
}

.nav-link:hover {
  background-color: #A8E2D0;
}
